<div class="ui container">
    <button class="ui secondary button small" (click)="shuffleArray(flightsToShow)">Shuffle</button>
    <div class="ui horizontal divider">
        <h4 class="ui header"><i class="plane icon"></i> Available flights</h4>
    </div>

    <div class="ui container center aligned three column grid">
        <div *ngFor="let flight of flightsToShow" class="ui card">
            <div class="image"><img src="../../assets/air_serbia.png"></div>
            <div class="content">
                <h4 class="ui header"> Flight number: {{flight.flight_number}}</h4>
                <div class="meta"> {{flight.flight_path}}</div>
                <div class="description"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla nobis modi
                    illum quia dolore quae.</div>
            </div>
            <h5 class="ui header"><span>{{flight.flight_date | date }}</span></h5>

            <div class="extra content">
                <p>
                    <ng-template [ngIf]="checkSeats(flight.flight_seats)">
                        <i class="user icon"></i> Seats left : {{flight.flight_seats}}
                    </ng-template>
                </p>
            </div>
            <div class="ui positive basic button" (click)="onBook(flight)">Book</div>

            <div class="two ui buttons">
                <button class="ui teal basic button" (click)="editFlight(flight)">Edit</button>
                <div class="or"></div>
                <button class="ui red basic button" (click)="removeFlight(flight)">Delete</button>
            </div>

        </div>
    </div>

</div>
<div class="ui hidden divider"></div>
<div *ngIf="flightBooked()">
    <div class="ui text container very padded segment">
        <h3 class="ui header">
            <i class="calculator icon"></i>
            <div class="content">Calculating price for Flight: {{flight_ID}}</div>
        </h3>
        <form [formGroup]="bookingForm">
            <div class="ui action input">
                <input type="text" placeholder="Number of tickets" min="1" formControlName="bookingInput"
                    #numberOfTickets>
                <button class="ui green button" (click)="onCalculate(numberOfTickets)" [disabled]="bookingForm.invalid">Show price</button>
                <div *ngIf="bookingInput.touched && bookingInput.invalid" class="ui left pointing red basic label">
                    <div *ngIf="bookingInput.errors.required">Number of tickets is required !</div>
                    <div *ngIf="bookingInput.errors.pattern">Only numbers starting from {{ numberOfTickets.min }} are
                        allowed ! </div>
                </div>
                <div class="right attached ui basic button" *ngIf="priceCalculated()"> <a
                        class="ui large violet tag label">{{ calculatedPrice }} <i class="euro sign icon"></i> </a>
                </div>
                
            </div>
        </form>
    </div>
</div>
<div class="ui hidden divider"></div>

<div *ngIf="spawnEdit()">
    <div class="ui container">
        <div class="ui horizontal divider">
            <h4 class="ui header">
                <i class="ui edit icon"></i>Edit Flight
            </h4>
        </div>
        <div class="ui text container very padded segment">
            <h3 class="ui header">
                <i class="edit icon"></i>
                <div class="content">Editing Flight : {{flight_ID}}</div>
            </h3>
            <form action="" class="ui form" id="editForm" (ngSubmit)="onEditFormSubmit()" #editFlightForm>
                <div class="six wide field">
                    <label for="flight_number">Flight number</label>
                    <input type="text" name="flight_number" id="FN" placeholder="Flight Number" #editFlightNumber>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label for="fromDestination">From</label>
                        <select name="fromDestination" id="FD" class="ui fluid dropdown" #editFromD>
                            <option value="" disabled selected hidden>From</option>
                            <option value="BEG">Belgrade</option>
                            <option value="INI">Nis</option>
                            <option value="TIV">Tivat</option>
                            <option value="TGD">Podgorica</option>
                            <option value="ZAG">Zagreb</option>
                            <option value="SPU">Split</option>
                        </select>
                    </div>
                    <div class="field">
                        <label for="toDestination">To</label>
                        <select name="toDestination" id="TD" class="ui fluid dropdown" #editToD>
                            <option value="" disabled selected hidden>To</option>
                            <option value="BEG">Belgrade</option>
                            <option value="INI">Nis</option>
                            <option value="TIV">Tivat</option>
                            <option value="TGD">Podgorica</option>
                            <option value="ZAG">Zagreb</option>
                            <option value="SPU">Split</option>
                        </select>
                    </div>
                </div>

                <div class="field">
                    <label for="date">Date</label>
                    <input type="datetime-local" id="DT" #editFlightDate>
                </div>
                <div class="field">
                    <label for="seats">Available seats</label>
                    <input type="number" name="seats" id="AS" #editSeats>
                </div>
                <div class="ui right floated primary button"
                    (click)="onEdit(editFlightNumber,editFromD,editToD,editFlightDate,editSeats);clearForm(editFlightForm)">
                    Edit
                    Flight</div>
            </form>
        </div>
    </div>
    <div class="ui hidden divider"></div>
</div>