<div class="ui container">
    <div class="ui horizontal divider">
        <h4 class="ui header">
            <i class="plus circle icon"></i>Add Flights
        </h4>
    </div>
    <div class="ui text container very padded segment">
        <form [formGroup]="inputFG" class="ui form" id="addForm" #addFlightForm >
            <div class="six wide field">
                <label for="flight_number">Flight number</label>
                <input formControlName="inputFN" type="text" name="flight_number" id="FN" placeholder="Flight Number" #flightnumber>
                <div *ngIf="inputFN.touched && inputFN.invalid" class="ui pointing red basic label">
                    <div *ngIf="inputFN.errors.required">Flight Number is required</div>
                    <div *ngIf="inputFN.errors.minlength">Flight Number should be minimum {{ inputFN.errors.minlength.requiredLength }} characters </div>
                    <div *ngIf="inputFN.errors.pattern">First 2 characters must be capital letters</div>
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label for="fromDestination">From</label>
                    <select formControlName="inputFrom" name="fromDestination" id="FD" class="ui fluid dropdown" #fromD>
                        <option value="" disabled selected hidden>From</option>
                        <option value="BEG">Belgrade</option>
                        <option value="INI">Nis</option>
                        <option value="TIV">Tivat</option>
                        <option value="TGD">Podgorica</option>
                        <option value="ZAG">Zagreb</option>
                        <option value="SPU">Split</option>
                    </select>
                    <div *ngIf="inputFrom.touched && inputFrom.invalid" class="ui pointing red basic label">From Destination is required</div>
                </div>
                <div class="field">
                    <label for="toDestination">To</label>
                    <select formControlName="inputTo" name="toDestination" id="TD" class="ui fluid dropdown" #toD>
                        <option value="" disabled selected hidden>To</option>
                        <option value="BEG">Belgrade</option>
                        <option value="INI">Nis</option>
                        <option value="TIV">Tivat</option>
                        <option value="TGD">Podgorica</option>
                        <option value="ZAG">Zagreb</option>
                        <option value="SPU">Split</option>
                    </select>
                    <div *ngIf="inputTo.touched && inputTo.invalid" class="ui pointing red basic label">To Destination is required</div>
                </div>
            </div>

            <div class="field">
                <label for="date">Date</label>
                <input formControlName="inputDate" type="datetime-local" id="DT" #flightDate>
                <div *ngIf="inputDate.touched && inputDate.invalid" class="ui pointing red basic label">Date is required</div>
            </div>
            <div class="field">
                <label for="seats">Available seats</label>
                <input formControlName="inputSeats" type="number" min="1" max="250" name="seats" id="AS" #seats>
                <div *ngIf="inputSeats.touched && inputSeats.invalid" class="ui pointing red basic label">
                    <div *ngIf="inputSeats.errors.required">Available seats is required</div>
                    <div *ngIf="inputSeats.errors.min || inputSeats.errors.max">Available seats should be between {{ seats.min }} and {{ seats.max }}</div>
                </div>
            </div>
            <button class="ui right floated primary button"
                (click)="addFlight(flightnumber,fromD,toD,flightDate,seats);clearForm(addFlightForm)" [disabled]="inputFG.invalid">
                Add Flight</button>
        </form>
    </div>
</div>
<div class="ui hidden divider"></div>